body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #303030;
    overflow-x: hidden;
}

input {
    z-index: 2;
    -webkit-appearance: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #303030;
    border: none;
    border-bottom: 1px solid #808080;
    border-radius: 0.1em;

    outline: none;
    padding-bottom: 3px;
    width: 5em;
    margin: 0.5em;
    animation: inputFocus 0.3s ease forwards;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input:focus {
    animation: inputFocusEnd 0.3s ease forwards;
}

@keyframes inputFocus {
    to {
        background-color: #444;

        border-bottom: 1px solid #fff;
        width: 4em;
        margin: 0em 1em;
        padding-bottom: 0.5em;
    }
}
@keyframes inputFocusEnd {
    from {
        background-color: #444;

        border-bottom: 1px solid #fff;
        width: 4em;
        margin: 0em 1em;
        padding-bottom: 0.5em;

    }
    to {
        background-color: #333;

        border-bottom: 1px solid #888;
        width: 5em;
        margin: 0.5em;
        padding-bottom: 3px;
    }
}


button {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #303030;
    border: none;
    border: 1px solid #fff;
    border-radius: 0.3em;
    outline: none;
    padding-bottom: 3px;
    width: 2em;
    margin: 0.5em;

    cursor: pointer;
    
}
button:active {
    background-color: #fff;
    color: #303030;
}
button:hover{
    background-color: #444;
}

#nodesBox {
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: center;;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-bottom: #888 solid 1px;
}

#details {
    width: 100%;
    height: fit-content;
    max-height: 800px;
    border-top: #888 solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

#nodesJSON {
    overflow-y: scroll;
    background-color: #353535;
    border: #888 solid 1px;
    padding: 0.5em;
    border-radius: 0.3em;
    width: 87%;
    height: fit-content;
    max-height: 800px;
}

.node {
    z-index: 1;
    position: relative;
    max-width: 2em;
    max-height: 2em;
    min-width: 2em;
    min-height: 2em;
    border-radius: 50%;
    background-color: #8d7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    margin: 0.5em;
    cursor: pointer;
    /* add shadows */
    box-shadow: 0 0 0.5em #af9;
    -webkit-box-shadow: 0 0 0.5em #af9;
    -moz-box-shadow: 0 0 0.5em #af9;
}

svg {
    z-index: -1;
    cursor: initial;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

line {
    position: absolute;
    stroke: #fff;
    stroke-width: 1;
}

.left, .right {
    position: absolute;
    top: 2em;
}

@keyframes newNode {
    from {
        transform: scale(0) rotate(-360deg);
    }
    to {
        transform: scale(1) rotate(0deg);
    }
}

.left-child {
    margin-right: 1em;
}

